<meta charset="utf-8" content="text/html">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}{% if page.channel_name %}|{{ page.channel_name }}{% endif %}{% if page.tag_name %}|{{ page.tag_name }}{% endif %}|微信公众号文章合集|鼹鼠看看</title>
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="{{ page.keywords }},微信公众号,公众号文章导出"/>
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico"/>
<link rel="bookmark" href="{{ site.baseurl }}/favicon.ico"/>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- google ad -->
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8176866190626448",
          enable_page_level_ads: true
     });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105389858-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-105389858-1');
</script>

<script async>
/*百度统计*/
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?8f59ea10145df28da8932c8743ec1d60";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

/*百度自动收录*/
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
