{%- comment -%}
Include vars:
        paginator
        reverse
        center
{%- endcomment -%}

{% if include.reverse == "true" %}
<style>
    .paginator{
        padding:0px;
        color: white;
    }
    ul.pager{
        list-style:none;
        padding: 0px;
        border-color: white;
    }
    ul.pager li{
        display:inline;
        display:inline-flex;
        border: 1px solid white;
        border-color: white;
        margin:5px;
    }
    .pager .selected{
        background-color: blue;
    }
    .postlist {
        color: gray;
    }
    .postlist a{
        color: gold;
    }
    ul.pager li a{
        display:block;
        width:100%;
        padding: 10px;
    }
    ul.pager li a:hover{
        color: black;
        background-color: yellow;
    }

</style>
{% else %}
<style>
    .paginator{
        padding:0px;
        color: black;
    }
    ul.pager{
        list-style:none;
        padding: 0px;
    }
    ul.pager li{
        display:inline;
        display:inline-flex;
        border: 1px solid black;
        margin:5px;
    }
    .pager .selected{
        background-color: yellow;
    }
    .postlist {
        color: gray;
    }
    ul.pager li a{
        display:block;
        width:100%;
        padding: 10px;
    }
    ul.pager li a:hover{
        color: black;
        background-color: yellow;
    }
</style>

{% endif %}

<div class="paginator">
  {% if paginator.total_pages > 1 %}
  <ul class="pager" style= {%if include.center == "true" %} "text-align:center" {% else %} "text-align:left" {% endif %}>
      {% if paginator.first_page %}
      <li class="previous">
          <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">首页</a>
      </li>
      {% endif %}

      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上页</a>
      </li>
      {% endif %}

      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li {% if page.url == trail.path %} class="selected"{% endif %}>
              <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% endif %}

      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下页</a>
      </li>
      {% endif %}

      {% if paginator.last_page %}
      <li class="previous">
          <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">尾页</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
</div>

<div class="postlist">
    {% for post in include.paginator.posts %}
      <h3><a href="{{ post.url | prepend: site.baseurl | replace: '//','/'}}">{{ post.title }}</a></h3>
      <div class="postinfo">
        {% assign clink = post.channel_id | prepend: 'categories/' | prepend: site.baseurl | replace: '//','/' %}
        {% assign tlink = post.tags[0] | prepend: 'tags/' | prepend: site.baseurl | replace: '//','/' %}
        <p style="color:lightgray"><span> <a href="{{ tlink }}" style="color:lightgray">{{ post.tags[0] }}</a> / <a href="{{ clink }}" style="color:lightgray">{{ post.channel_name }} </a> / {{ post.createtime }}</span></p>

      </div>
      <div class="postdesc">
      {% if post.description %}
        <p><a href="{{ post.url | prepend: site.baseurl | replace: '//','/' }}" style="color:gray">{{ post.description }}...</a></p>
      {% endif %}
      </div>
      <hr>
    {% endfor %}
</div>

<div class="paginator">
  {% if paginator.total_pages > 1 %}
  <ul class="pager" style= {%if include.center == "true" %} "text-align:center" {% else %} "text-align:right" {% endif %}>
      {% if paginator.first_page %}
      <li class="previous">
          <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">首页</a>
      </li>
      {% endif %}

      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上页</a>
      </li>
      {% endif %}

      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li {% if page.url == trail.path %} class="selected"{% endif %}>
              <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% endif %}

      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下页</a>
      </li>
      {% endif %}

       {% if paginator.last_page %}
      <li class="previous">
          <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">尾页</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
</div>
