{%- comment -%}
Include vars:
        lang
{%- endcomment -%}
<style type="text/css" scoped>
    .siteul{
        margin:5px;
        margin:0.5rem;
        display:flex;
        justify-content: center;
        flex-wrap:wrap;
        line-height:25px;
        line-height:2.5rem;
    }
    .siteul li{
        list-style:none;
        display:inline-block;
        margin-top:0px;
        margin-bottom:0px;
    }
    .siteli a{
        display: block;
        color: white;
    }
    .siteli a:hover{
        background:darkgray;
        /*color: white;*/
        color: black;
    }
    .siteli a:visited{
        /*color:#551ab8;*/
    }
    .sitedetail{
        display: inline-block;
    }
    .sitedetail summary::-webkit-details-marker {
        display: none;
    }
    .sitedetail summary:first-of-type {
        list-style-type: none;
    }
    .sitedetail summary:visited{
        color:#551ab8;
    }
    .sitedetail ul{
        padding:0px;
        margin:0px;
        background: gray;
    }
    .sitedetail li{
        list-style:none;
        display: block;
        padding:0px;
        margin:0px;
    }
    .sitedetail a{
        display: block;
        color: white;
        padding:4px;
        padding:0.4rem;
    }
    .sitedetail a:hover{
        background:darkgray;
        color: black;
    }
    .sitedetail a:visited{
        /*color:#551ab8;*/
    }
    @media screen and (max-width: 1024px) {
        .siteul{
            margin:5px;
            margin:0.5rem;
            display:flex;
            justify-content:  center;
            flex-wrap:wrap;
        }
    }
</style>
{% for items in site.data.links %}
  {% for item in items %}
     {% if item.first %}
     <ul class="siteul">
        {% for l in item offset:2 %}
           {% case l.type %}
              {% when "menu" %}
                <li>
                    <details class="sitedetail" onmouseover="opendetail(this)" onmouseout="closedetail(this)">
                        <summary>{{ l.name }}</summary>
                        <ul>
                            {% for i in l.links %}
                            <li><a target="_blank" href="{{ i.link }}">{{ i.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </details>
                </li>
              {% else %}
                 {% if l.name %}
                <li class="siteli"><a target="_blank" href="{{ l.link }}">{{ l.name }}</a></li>
                 {% endif %}
           {% endcase %}
        {% endfor %}
     </ul>
     {% endif %}
  {% endfor %}
{% endfor %}
