{%- comment -%}
Include vars
        type
        id
        nick
        desc
        photo
{%- endcomment -%}
<style>
    .logo {
        width: 391px;
        width: 39.1rem;
        height: 70px;
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo .logo-font{
        width: 150px;
        width: 15rem;
        height: 70px;
        height: 7rem;
        padding-left: 10px;
        padding-left: 1rem;
        padding-right: 10px;
        padding-right: 1rem;
        background: white;
        font-size: 37px;
        font-size: 3.7rem;
        font-family: "楷体";
        text-align: center;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .logo .logo-text{
        width: 200px;
        width: 20rem;
        height: 70px;
        height: 7rem;
        padding-left: 10px;
        padding-left: 1rem;
        padding-right: 10px;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: white;
    }
    .source {
        width: 351px;
        width: 35.1rem;
        height: 50px;
        height: 5rem;
        background: lightgray;
        display:flex;
        flex-direction: row;
    }
    .source .photo{
        width: 48px;
        width: 4.8rem;
        height: 48px;
        height: 4.8rem;
        padding: 1px;
    }
    .source .detail{
        width: 295px;
        width: 29.5rem;
        padding-left: 5px;
        padding-left: 0.5rem;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .source .detail .desc{
        font-size:12px;
        font-size:1.2rem;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .source .detail .nick{
        font-size:15px;
        font-size:1.5rem;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .workspace_top{
        display: flex;
        height: auto;
        padding-top: 10px;
        padding-top: 1rem;
        padding-bottom: 10px;
        padding-bottom: 1rem;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background: darkblue;
    }
    @media screen and (max-width: 1020px){
        .source{
            display: none;
        }
    }

    @media screen and (max-width: 750px){
        .workspace_top{
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .source{
            display: none;
        }
    }
    @media screen and (max-width: 391px){
        .logo {
            width: 100%;
            padding:0px;
        }
        .logo .logo-font{
            padding:0px;
            font-size: 10vw;
            width: 50%;
        }
        .logo .logo-text{
            padding:0px;
            font-size: 4vw;
            width: 50%;
        }
        .source {
            width: 100%;
            padding:0px;
            margin: 0px;
            display:none;
        }
        .source .photo{
            padding:0px;
            margin: 0px;
        }
        .source .detail{
            width: 80%;
            padding:0px;
            margin: 0px;
        }
        .source .detail .desc{
            width: 100%;
            padding:0px;
            margin: 0px;
        }
        .source .detail .nick{
            width: 100%;
            padding:0px;
            margin: 0px;
        }
    }

</style>
<div style="width: 100%">
 <div class="workspace_top">
     <div class="logo">
        <div class="logo-font">
            <div><a href="{{ site.baseurl }}" style="color:black">文章精选</a></div>
        </div>
        <div class="logo-text">
            <div>微信公众号文章精选</div>
            <div><a href="{{ '/' | prepend: site.baseurl | replace: '//','/' }}">https://www.lijiaocn.com</a></div>
        </div>
     </div>

{% case include.type %}

     {% when 'tag' %}
     <div class="source">
         {% assign imglink = include.photo | prepend: "/" | prepend: site.img | replace: '//','/' %}
         <div class="photo"><a href="{{ imglink }}"><img width=100% height=100% src="{{ imglink }}"></a></div>
         <div class="detail">
            <div class="nick"><span>{{ include.nick }}</span></div>
            <div class="desc"><span>{{ include.desc }}</span></div>
         </div>
     </div>

     {% when 'page' %}
     <div class="source">
         {% assign imglink = include.photo | prepend: "/" | prepend: site.img | replace: '//','/' %}
         <div class="photo"><a href="{{ imglink }}"><img width=100% height=100% src="{{ imglink }}"></a></div>
         <div class="detail">
            <div class="nick"><span>{{ include.nick }}/{{ include.id }}</span></div>
            <div class="desc"><span>{{ include.desc }}</span></div>
         </div>
     </div>

     {% else %}
     <div class="source">
         {% assign imglink = include.photo | prepend: "/" | prepend: site.img | replace: '//','/' %}
         <div class="photo"><a href="{{ imglink }}"><img width=100% height=100% src="{{ imglink }}"></a></div>
         <div class="detail">
            <div class="nick"><a href="{{ site.baseurl }}/categories/{{ include.id}}.html"><span>{{ include.nick }}/{{ include.id }}</span></a></div>
            <div class="desc"><span>{{ include.desc }}</span></div>
         </div>
     </div>

{% endcase %}

 </div>
</div>
