---
layout: "0_0_layout"
styles: 
  - /assets/css/category.css
---

{% include workspace_top.html type="page" photo=page.photo nick=page.nick  id=page.id  desc=page.desc %}
<div class="article">
    {{ content }}
</div>
<div style="width:100%; text-align: center">
    <!-- 匹配内容-lijiaocn -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="autorelaxed"
         data-ad-client="ca-pub-8176866190626448"
         data-ad-slot="6443696990"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
