---
layout: "0_0_layout"
styles: 
  - /assets/css/category.css
---

{% include workspace_top.html type="category" id=page.channel_id nick=page.channel_name desc=page.channel_desc photo=page.channel_photo %}
<div class="article">
    {{ content }}
</div>

<div style="width:100%; text-align: center">
    <!-- 匹配内容-lijiaocn -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="autorelaxed"
         data-ad-client="ca-pub-8176866190626448"
         data-ad-slot="6443696990"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
